html {
    scroll-behavior: smooth;
}

body {
    width: 990px;
    margin: auto;
    box-sizing: border-box;
}

header, header .header-img, header .header-titulo {
    width: 100%;
    margin: 0;
}

header .header-img img {
    width: 100%;
}

header .header-titulo {
    background-color: rgb(54, 29, 2);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

header .header-titulo .header-titulo-img {
    width: 350px;
}

header .header-titulo .header-titulo-h1 {
    width: 650px;
}

.header-titulo-h1 h1, .header-titulo-img img {
    float: left;
    padding-left: 25px;
}

.nav, .nav .recetas, .nav a {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: black;
    height: 50px;
    position: sticky;
}

.nav .recetas {
    background-color: #3e8b42;
    height: 50px;
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

.nav a.sub_receta {
    color: black;
}

.nav li {
    display: inline-block;
    position: relative;
    width: 100%;
}

.nav .recetas li:hover {
    background-color: lightgray;
}

.nav li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    width: 150px;
    padding: 10px;
}

.nav li:hover ul {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cec5c6;
    margin: 0;
}

section main .post {
    background-color: rgb(235, 232, 232);
    width: 600px;
    border: solid 1px black;
    margin-top: 100px;
}

.post .checkbox-title, .post .title, .post .txt {
    width: 440px;
    float: left;
    text-align: left;
}

.post .img img {
    width: 114px;
    height: 86px;
    float: right;
    border: solid 1px black;
}

.post .txt {
    margin-top: 5px;
}

main .post {
    padding: 10px;
}

main .post:hover {
    border: solid 2px red;
}

main .post_distributor {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Barra de navegación */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
