html {
    scroll-behavior: smooth;
}

body{
    width: 990px;
    display: block;
    margin: auto;
    box-sizing: border-box;
}

header{
    width: 100%;
    margin: 0;
}

header .header-img{
    margin: 0;
    padding: 0;
    display: inline-block;
}

header .header-img img{
    width: 990px;
}

header .header-titulo{
    background-color: rgb(54, 29, 2);
    color: white;
    width: 990px;
    text-align: center;
    display: flex;
    justify-content: center;
}

header .header-titulo .header-titulo-img{
    width: 350px;
}

header .header-titulo .header-titulo-h1{
    width: 650px;
}

.header-titulo-h1 h1{
    float: left;
    padding-left: 25px;
}

.header-titulo-img img{
    float: left;
    padding-left: 25px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    height: 50px;
    position: sticky;
}
.nav .recetas{
    background-color:#3e8b42;
    height: 50px;
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.nav a {
    text-decoration: none; /* Quitar el subrayado de los enlaces */
    color: white; /* Cambiar el color del texto de los enlaces */
    display: block;
    padding: 10px;
}
.nav a.sub_receta{
    color: black;
}

.nav li {
    display: inline-block;
    position: relative;
}

.nav .recetas li:hover{
    background-color: lightgray;
}
.nav .recetas li{
        width: 100%;
}

.nav li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    width: 150px;
    padding: 10px;
}

.nav li:hover ul {
    display: block;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cec5c6;
    margin: 0;
}

section main .post{
    background-color: rgb(235, 232, 232);
    width: 600px;
    border: solid 1px black;
    margin-top: 100px;
}

.post .checkbox-title{
    width: 440px;
    float: left;
    text-align: left;
}
.post .title{
    width: 440px;
    float: left;
    text-align: left;

}

.post .img img{
    width: 114px;
    height: 86px;
    float: right;
    border: solid 1px black;
}

.post .txt{
    float: left;
    margin-top: 5px;
    text-align: left;
}

main .post{
    padding: 10px;
}

main .post:hover{
    border:solid 2px red
}

main .post_distributor{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
