html {
    scroll-behavior: smooth;
}

body{
    width: 990px;
    display: block;
    margin: auto;
    box-sizing: border-box;
}

header{
    width: 100%;
    margin: 0;
}

header .header-img{
    margin: 0;
    padding: 0;
    display: inline-block;
}

header .header-img img{
    width: 990px;
}

header .header-titulo{
    background-color: rgb(54, 29, 2);
    color: white;
    width: 990px;
    text-align: center;
    display: flex;
    justify-content: center;
}

header .header-titulo .header-titulo-img{
    width: 350px;
}

header .header-titulo .header-titulo-h1{
    width: 650px;
}

.header-titulo-h1 h1{
    float: left;
    padding-left: 25px;
}

.header-titulo-img img{
    float: left;
    padding-left: 25px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    height: 50px;
    position: sticky;
}
.nav .recetas{
    background-color:#3e8b42;
    height: 50px;
    width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.nav a {
    text-decoration: none; /* Quitar el subrayado de los enlaces */
    color: white; /* Cambiar el color del texto de los enlaces */
    display: block;
    padding: 10px;
}
.nav a.sub_receta{
    color: black;
}

.nav li {
    display: inline-block;
    position: relative;
}

.nav .recetas li:hover{
    background-color: lightgray;
}
.nav .recetas li{
        width: 100%;
}

.nav li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    width: 150px;
    padding: 10px;
}

.nav li:hover ul {
    display: block;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cec5c6;
    margin: 0;
}

section main .post{
    background-color:#eeeeee;
    width: 600px;
    border: solid 1px black;
    border-radius: 8px;
    margin-top: 100px;
}

.post .checkbox-title{
    width: 440px;
    float: left;
    text-align: left;
}
.post .title{
    width: 440px;
    float: left;
    text-align: left;

}

.post .img img{
    width: 114px;
    height: 86px;
    float: right;
    border: solid 1px black;
}

.post .txt1{
    float: left;
    margin-top: 5px;
    text-align: left;
}


input[name="opcion2"]:checked ~ .txt1::before {
    content: "In a bowl, prepare the cream for tiramisu: mix the mascarpone cheese with the egg yolks and sugar. Separately, beat the egg whites until stiff peaks form. Finally, fold the beaten egg whites into the bowl with the mascarpone. Carefully fold with a whisk, making enveloping movements, to not lose the air from the whipped whites (similar to making a mousse). In a deep tray, assemble the dessert by placing layers of hard biscuits (ladyfingers) and soaking them with coffee. On a layer of biscuits soaked in coffee, add a layer of mascarpone cream, then another layer of biscuits, another layer of cream... and so on. Build as many layers as you desire, finishing with a layer of cream. Sift a bit of dark chocolate powder over the final layer. Tiramisu is a dessert that should be refrigerated for a few hours."; /* Traducción al inglés */
}

main .post{
    padding: 10px;
}

main .post:hover{
    border:solid 1px red
}

main .post_distributor{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
