#romanos {
    display: none;
}
#disc {
    display: none;
}
#square {
    display: none;
}

input#rom:checked ~ ol#romanos{
    display: block;
}

input#dis:checked ~ ul#disc{
    display: block;
}

input#squ:checked ~ ul#square{
    display: block;
}
