div#cajaPrincipal{
    border: 2px solid blue;
    width: 250px;
    height: 250px;
    display: flex;
}

p {
    display: inline;
    margin-left: 35px;
    padding: 0;
    margin: 0;
}
#per {
    padding-left: 25px;
    display: none;
}
#gat {
    padding-left: 25px;
    display: none;
}
#roj {
    padding-left: 25px;
    display: none;
}

li#dog p:hover ~ p#per{
    display: inline;

}
li#cat p:hover ~ p#gat{
    display: inline;
}
li#red p:hover ~ p#roj{
    display: inline;
}