html {
    scroll-behavior: smooth;
}

body{
    width: 1000px;
    display: block;
    margin: auto;
    box-sizing: border-box;
}

header{
    width: 100%;
    margin: 0;
}

header .header-img{
    margin: 0;
    padding: 0;
    display: inline-block;
}

header .header-img img{
    width: 1000px;
}

header .header-titulo{
    background-color: rgb(54, 29, 2);
    color: white;
    width: 1000px;
    text-align: center;
    display: flex;
    justify-content: center;
}

header .header-titulo .header-titulo-img{
    width: 350px;
}

header .header-titulo .header-titulo-h1{
    width: 650px;
}

.header-titulo-h1 h1{
    float: left;
    padding-left: 25px;
}

.header-titulo-img img{
    float: left;
    padding-left: 25px;
}


.barramenu {
    background-color: black;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
}

.nav {
    list-style-type: none;
    padding: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li {
    padding: 12px 16px;
    text-align: center;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #716161;
}

.dropdown:hover .dropdown-content {
    display: block;
}



