html {
    scroll-behavior: smooth;
    background-color: bisque;
}

body{
    width: 990px;
    display: block;
    margin: auto;
    box-sizing: border-box;
}

header{
    width: 100%;
    margin: 0;
}

header .header-img{
    margin: 0;
    padding: 0;
    display: inline-block;
}

header .header-img img{
    width: 990px;
}

header .header-titulo{
    background-color: rgb(54, 29, 2);
    color: white;
    width: 990px;
    text-align: center;
    display: flex;
    justify-content: center;
}

header .header-titulo .header-titulo-img{
    width: 350px;

}
header .header-titulo .header-titulo-h1{
    display:flex;
    align-items: center;
    width: 650px;
}

.header-titulo-h1 h1{
    float: left;
    padding-left: 25px;
}

.header-titulo-img img{
    float: left;
    padding-left: 25px;
}
/*Estilos del menu*/
nav{
    background-color: black;
    margin-top: -16px;
}
.nav ul{
    display: none;
    position: absolute;

}
.main-nav:hover .nav ul{
    display: block;
    position: relative;
}


a{
    text-decoration: none;
    color: white;
}

.nav li a{
    background-color: black;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav > li a:hover{
    background-color: #298022;
}


