/* === IMPORTANTE ===
   No modificar estos estilos, ya que son imprescindibles para
   que la página se vea correctamente.
   ================= */

/*-- Básico ----------------------------------------------------------*/
ul, ul li { margin: 0; padding: 0; list-style: none; }
h1, h2, h3, p, form { margin: 0; padding: 0; }
.clear { clear: both; }
img { border: none; }

/*-- Layout ----------------------------------------------------------*/
#contenedor {
  width: 90%;
  max-width: 900px;
  width: min(900px, 90%);
  margin: 0 auto;
}

#cabecera, #menu, #lateral, #contenido, #contenido #principal, #contenido #secundario, #pie {
  border: 2px solid #777;
}

#cabecera { clear: both; }
#menu { clear: both; }
#lateral { float: left; width: 20%; }
#contenido { float: right; width: 78%; }
#contenido #principal { float: left; width: 78%; }
#contenido #secundario { float: right; width: 20%; }
#pie { clear: both; }

/*-- Cabecera --------------------------------------------------------*/
#cabecera #logo { float: left; }
#cabecera #buscador { float: right; }

/*-- Menu ------------------------------------------------------------*/
#menu ul#menu_principal li { display: inline; float: left; }

/*-- Sección Principal -----------------------------------------------*/
#contenido #principal .articulo img { width: 100px; float: left; }

/*-- Pie de página ---------------------------------------------------*/
#pie .enlaces   { float: left; }
#pie .copyright { float: right; }

/* === IMPORTANTE ===
   A partir de aquí, se pueden añadir todos los estilos propios que
   sean necesarios.
   ================= */

/*-------------------Primer ejercicio---------------------------------------------------------------------------------------------------*/

   /* a) El elemento #cabecera debe tener un relleno de 1em en todos los lados. */
   #cabecera {
    padding: 1em;
  }
  
  /* b) Para el elemento #menu, agrega un relleno de 0.5em en todos los lados y un margen inferior de 0.5em. */
  #menu {
    padding: 0.5em;
    margin-bottom: 0.5em;
  }
  
  /* c) El resto de elementos (#noticias, #publicidad, #principal, #secundario) deben tener 0.5em de relleno en todos sus lados, salvo el elemento #pie, que solo debe tener relleno en la zona superior e inferior. */
  #noticias, #publicidad, #principal, #secundario {
    padding: 0.5em;
  }
  
  #pie {
    padding: 1em 0; /* Relleno en la zona superior e inferior */
  }
  
  /* d) Los elementos .articulo deben mostrar una separación entre ellos de 1em. */
  .articulo {
    margin-bottom: 1em;
  }
  
  /* e) Las imágenes de los artículos muestran un margen de 0.5em en todos sus lados. */
  .articulo img {
    margin: 0.5em;
  }
  
  /* f) El elemento #publicidad está separado 1em de su elemento superior. */
  #publicidad {
    margin-top: 1em;
  }
  
  /* g) El elemento #pie debe tener un margen superior de 1em. */
  #pie {
    margin-top: 1em;
  }
  /*Le doy un ancho especifico para que la seccion #secundario dentro de #contenido puedan estar de forma paralela y no se visualice una debajo de la otra*/
  #contenido {
    width: 75%;
    padding: 0;
  }
  #contenido #principal {
    width: 72%;
  }

  /*-------------------Segundo ejercicio---------------------------------------------------------------------------------------------------*/
  
  /* a) Elimina el borde gris que muestran por defecto todos los elementos. */
  #cabecera, #menu, #lateral, #contenido, #contenido #principal, #contenido #secundario, #pie {
    border: none;
  }
  
  /* b) El elemento #menu debe tener un borde inferior de 1 píxel y color azul #004C99. */
  #menu {
    border-bottom: 1px solid #004C99;
  }
  
  /* c) El elemento #noticias muestra un borde de 1 píxel y color gris claro #C5C5C5. */
  #noticias {
    border: 1px solid #C5C5C5;
  }
  
  /* d) El elemento #publicidad debe mostrar un borde discontinuo de 1 píxel y de color #CC6600. */
  #publicidad {
    border: 1px dashed #CC6600;
  }
  
  /* e) El lateral formado por el elemento #secundario muestra un borde de 1 píxel y de color #CC6600. */
  #contenido #secundario {
    border: 1px solid #CC6600;
  }
  
  /* f) El elemento #pie debe mostrar un borde superior y otro inferior de 1 píxel y color gris claro #C5C5C5. */
  #pie {
    border-top: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
  }

 /*-------------------Tercer ejercicio---------------------------------------------------------------------------------------------------*/

 /* a) Los elementos #noticias y #pie tienen un color de fondo gris claro #F8F8F8. */
#noticias, #pie {
    background-color: #F8F8F8;
  }
  
  /* b) El elemento #publicidad muestra un color de fondo amarillo claro #FFF6CD. */
  #publicidad {
    background-color: #FFF6CD;
    border: none;/*Eliminamos el borde dashed de #publicidad ya que en la imagen no se muestra*/
  }
  
  /* c) Los elementos <h2> de #secundario muestran un color de fondo #DB905C y un pequeño padding de 0.2em. */
  #secundario h2 {
    background-color: #DB905C;
    padding: 0.2em;
  }
  
  /* d) El fondo del elemento #menu se construye mediante una pequeña imagen llamada “fondo_menu.gif”. */
  #menu {
    background-image: url(../imagenes/fondo_menu.gif);
    background-repeat: repeat;/*Esta propiedad indica que la imagen debe repetirse tanto en la dirección horizontal como en la vertical para cubrir completamente el elemento contenedor*/
  }
  
  /* e) El logotipo del sitio se muestra mediante una imagen de fondo del elemento <h1> contenido en el elemento #cabecera (la imagen se llama “logo.gif”). */
  #cabecera #logo h1 {
    background-image: url(../imagenes/logo.gif);
    background-size: contain; /*Esta propiedad hace que se adapte la imagen al espacio completo que le permite el elemento que le contiene*/
    background-repeat: no-repeat -4px -4px;/*Añadimos la propiedad no-repeat para que solo se visualice una vez y indicamos la posicion que debe tener con los valores -4px(horizontal) y -4px(vertical) */
  }
  