body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .azul {
    background-color: blue;
    height: 20em;
    width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .verde {
    background-color: green;
    height: 15em;
    width: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .amarillo {
    background-color: yellow;
    height: 10em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .rojo {
    background-color: red;
    height: 5em;
    width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }