#vocabulario {
    border: 1px solid black;
    border-color: blue;
    width: 237px;
    height: 165px;
    display: flex;
    flex-direction: row;
}
h1{
    color: blue;
}

#vocabulario ul, #vocabulario div{
    margin: 5px;
    margin-left: 5px;
}

#perro:hover::after{
    content: "Dog";
    margin-left: 50px;

}
#gato:hover::after{
    content: "Cat";
    margin-left: 50px;
}
#raton:hover::after{
    content: "Mouse";
    margin-left: 50px;
}
